<%- include('partials/header'); -%>

<h1>The Faavorite Shots in Posts are:</h1>
<% for(var i=0; i<shots.length; i++){ %>
		<li><%= shots[i].name %> - <%= shots[i].shot %></li>
<% } %>
<%- include('partials/footer'); -%>



